
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;

}

.brand-logo {

    height: 270px;
    width: 160px;
    object-fit: contain;
}


